node_modules/
.next/
.next/**/*
.next/cache/
/.vercel/
.env
.env.*
.DS_Store
coverage/
test-results/
public/uploads/
.parcel-cache/
.turbo/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sqlite
*.db
/.vscode/
dist/
build/
*.log
.cache/
/.idea/
*.tgz
/.next/swc*/